{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title> Online Recolorisation Tool </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'landing.css' %}">
  <script type="text/javascript">
    function ishitest() {
      let options = document.querySelectorAll('#d');

      for (let i = 0; i < options.length; i++) {
        if (options[i].type == 'radio') {
          if (options[i].checked) {
            console.log(options[i].value)
            if (options[i].nextElementSibling.attributes["value"].value == "74") {
              alert("Correct Answer !");
            } else {
              alert("Incorrect Answer you may suffer from deuteranopia");
            }
          }
        }
      }
      return true;
    }

    function protan() {
      let options = document.querySelectorAll('#p');
      //  console.log(options);
      for (let i = 0; i < options.length; i++) {
        if (options[i].type == 'radio') {

          if (options[i].checked) {

            console.log(options[i])
            console.log(options[i].nextElementSibling.attributes["value"].value)
            if (options[i].nextElementSibling.attributes["value"].value == "97") {
              alert("Correct Answer !");
            } else {
              alert("Incorrect Answer you may suffer from protanopia");
            }
          }
        }
      }
      return true;
    }
  </script>

</head>

<body>
  <nav class="navbar">
    <h2 style="text-align: center;"> Online Recolorisation Tool</h2>
    <div class="topnav-right">
      <a href="{% url 'login' %}"><input type="button" class="button1" value="Login"></a>
      <a href="{% url 'signup' %}"><input type="button" class="button1" value="Create Account"></a>
    </div>
  </nav>
  <img class="wave" src="{% static 'bg1.jpg' %}">
  <div class="center-align">
    <p> This Recolorisation tool recolors images
      for Deuteranopic color vision impaired so
      that the person can see the colors distinctively. </p>
  </div>
  <div class="container" alt="max-height">
    <div class="info">
      <div class="img">
        <img src="{% static 'protan.png' %}" width="400" height="300">
      </div>
      <form name="protanopia" id="protanopia">
        <label class="cont"> 77
          <input type="radio" checked="checked" name="radio" id="p">
          <span class="checkmark" name="opt" value="77"></span>
        </label>
        <label class="cont"> 17
          <input type="radio" name="radio" id="p">
          <span class="checkmark" name="opt" value="17"></span>
        </label>
        <label class="cont"> 97
          <input type="radio" name="radio" id="p">
          <span class="checkmark" name="opt" value="97"></span>
        </label>
        <label class="cont"> 79
          <input type="radio" name="radio" id="p">
          <span class="checkmark" name="opt" value="79"></span>
        </label>
        <input type="button" class="button2" value="Submit" onclick="protan()">
      </form>
    </div>
    <div class="ishihara">
      <div class="img">
        <img src="{% static 'ishi.png' %}" width="300" height="300">
      </div>
      <form name="ishi" id="ishi">
        <label class="cont">24
          <input type="radio" checked="checked" name="radio" value="24" id="d">
          <span class="checkmark" name="opt" value="24"></span>
        </label>
        <label class="cont"> 74
          <input type="radio" name="radio" value="74" id="d">
          <span class="checkmark" name="opt" value="74"></span>
        </label>
        <label class="cont"> 14
          <input type="radio" name="radio" value="14" id="d">
          <span class="checkmark" name="opt" value="14"></span>
        </label>
        <label class="cont"> 34
          <input type="radio" name="radio" value="34" id="d">
          <span class="checkmark" name="opt" value="34"></span>
        </label>
        <input type="button" class="button2" value="Submit" onclick="ishitest()">
      </form>
    </div>
  </div>
  <!-- <script type="text/javascript" src="landing.js"></script> -->
</body>

</html>